.mainPage {
  width: 100%;
  .issueDiv {
    height: 55px;
    background: linear-gradient(90deg, rgba(187, 41, 173, 1) 0%, rgba(54, 4, 38, 1) 49%, rgba(255, 0, 0, 1) 100%);
    text-align: center;
    font-weight: 600;
    line-height: 55px;
    font-size: 1.3rem;
    color: --baseColor;
  }
  .containerWrap {
    width: 85vw;
    margin: 0 auto;
    min-height: 600px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    .topCardList {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      .cardListTitle {
        text-align: right;
        font-size: 2.3rem;
        align-self: flex-end;
        width: 380px;
        .TitleEng {
          font-size: 3.6rem;
          font-weight: 500;
        }
      }
      .bestCardList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: calc(100% - 400px);
      }
    }
    .middleCardList {
      width: 100%;
      .cardListTitle {
        width: 100%;
        text-align: right;
        font-size: 2.3rem;
        margin-bottom: 35px;
        margin-top: 20vh;
        .TitleEng {
          font-size: 3.6rem;
          font-weight: 500;
        }
      }
      .cardList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
      }
    }
    .downCardList {
      margin-top: 20vh;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      .cardListTitle {
        text-align: right;
        font-size: 2.3rem;
        align-self: flex-start;
        width: 380px;
        .TitleEng {
          font-size: 3.6rem;
          font-weight: 500;
        }
      }
      .bestCardList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: calc(100% - 400px);
        .cardWid {
          width: calc(100% / 4);
        }
      }
    }
  }
}
