* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  position: relative;
}
ul,
ol,
li {
  list-style: none;
}
a {
  outline: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
}
// .containerWrap {
//   width: 85vw;
//   margin: 0 auto;
//   min-height: 600px;
//   padding-top: 10vh;
//   padding-bottom: 10vh;
// }

.wrap {
  width: 100%;
  color: var(--baseColor);
  font-family: var(--baseFont);
  background-color: var(--bgColor);
  font-size: (--bodySize);
}

table,
th,
td {
  border-collapse: collapse;
}
textarea {
  resize: none;
}
input,
button {
  outline: 0;
}
fieldset {
  border: none;
}
button {
  all: unset;
}
